
<h1>BurgerTime</h1>

<h2>Burgers to be Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Gut Busters!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <!-- <button type="submit">RIP to the burger</button> -->
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add your own creatiom</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="slee">Devour?</label><br>
    <input type="radio" name="devoured" value="0" checked>Add to the List<br>
    <!-- <input type="radio" name="devoured" value="0"> Awake -->
  </div>

  <button type="submit">Add your Burger</button>
</form>